@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap'); 

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* NavBar */
.navigation-bar {
  position: relative;
  width: 1440px;
  height: 70px;
  background-color: #fff;
}

.navigation-bar .logo {
  position: absolute;
  width: 410px;
  height: 100px;
  top: 8px;
  left: 500px;
}

.navigation-bar .user {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 15px;
  left: 1355px;
}

/* MainPage */
.frame {
  display: inline-flex;
  flex-direction: column;
  height: 500px;
  align-items: flex-start;
  gap: 43px;
  position: relative;
  margin-top: 135px;
  margin-left: 50px;
}

.frame .text-wrapper {
  position: relative;
  width: 531px;
  margin-top: -1px;
  padding: 10px 10px 10px;

  font-weight: 500;
  color: #000;
  font-size: 25px;
  background-color: #D6CA98;
  border-radius: 23px;
  
}
.frame .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 133px;
  height: 62px;
  align-items: flex-start;
  position: relative;
  border-radius: 33.99px;
  margin-top: -20px;
  z-index: 10;
  pointer-events: auto;
}
.frame .button:hover{
  cursor: pointer;
}

.frame .label-wrapper,
.frame .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  gap: 9px;
  padding: 18px 31px;
  align-items: flex-start;
  position: relative;
  border-radius: 50px;
  background: black;
  color: #fff;
  z-index: 10;
  pointer-events: auto;
}

.frame .label,
.frame .div {
  position: relative;
  width: fit-content;
  margin-top: -0.9px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  white-space: nowrap;
}

.frame .div {
  margin-bottom: -0.32px;
  margin-right: -7.4px;
}

.frame .save-big-shop-smart {
  position: relative;
  width: 511px;
  height: 51px;
  font-weight: 500;
  color: #000;
  font-size: 15px;
  background-color: #D6CA98;
  padding: 10px;
  border-radius: 23px;
}

.MainPage {
  display: flex;
}

.ShoppingCart {
  position: absolute;
  width: 475px;
  height: 475px;
  margin-top: 90px;
  margin-left: 850px;
}

.heading-subheading {
  display: flex;
}

.WhatWeOffer {
  height: 10px;
  width: 200px;
  font-size: larger;
}

div.heading {
  padding: 40px 0 0 50px;
  font-size: larger;
}

p.Tagline {
  
  font-size: large;
  width: 350px;
}

.Arrow {
  width: 700px;
  height: 125px;
 
}
.text-wrapper{
    background-color: #D6CA98;
    padding: 7px 7px 7px;
    border-radius: 33px;
}
.BottomSection{
  margin-left: 10px;
  margin-bottom: 20px;
}